@using Fluxor
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<AntDesign.Col>
    <Input AllowClear="true"
           Value="@Word"
           TValue="String"
           OnChange="@(WordChanged)"
           Placeholder="@(Defaults.GetPlaceHolder(Index))"/>
    <Button Disabled="@(State.Value.WordList.Words.Count <= 1)" Icon="close" OnClick="Close"></Button>
    <Button Icon="plus" OnClick="AddNew"></Button>
    <Popover Visible="EditorVisible" Placement="PlacementType.Bottom" ContentTemplate="@ConfigEditor">
        <Button Icon="edit" OnClick="()=> EditorVisible = !EditorVisible"></Button>
    </Popover>
    <Button Icon="question-circle" OnClick="Suggest"></Button>
    <Button Icon="branches" OnClick="Anagram"></Button>

</AntDesign.Col>


@code
{

    private RenderFragment ConfigEditor =>
        @<StepConfigEditor Index="@Index"/>;

    [Inject]
    private IState<State> State { get; set; } = null!;

    [Inject]
    public IDispatcher Dispatcher { get; set; } = null!;

    [Parameter]
    public int Index { get; set; }

    public string Word => Index < State.Value.WordList.Words.Count ?
        State.Value.WordList.Words[Index] : "";

    private void WordChanged(string w)
    {
        if (w != Word)
            Dispatcher.Dispatch(new SetWordAction(Index, w ?? ""));
    }

    public void AddNew()
    {
        Dispatcher.Dispatch(new AddAction( Index + 1));
    }

    public void Close()
    {
        Dispatcher.Dispatch(new RemoveWordAction(Index));
    }

    public void Suggest()
    {
        Dispatcher.Dispatch(new SuggestWordAction(Index));
    }

    public void Anagram()
    {
        Dispatcher.Dispatch(new AnagramWordAction(Index));
    }

    private bool EditorVisible { get; set; } = false;

    //public void Jump()
    //{
    //    Dispatcher.Dispatch(new JumpToAction(Index));
    //}

}