@using Fluxor
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<Col>
    <Input AllowClear="true"
           Value="@Word"
           TValue="String"
           OnChange="@(WordChanged)"
           Placeholder="@(Defaults.GetPlaceHolder(Index))"/>
    <Button Icon="close" OnClick="Close"></Button>
    <Button Icon="plus" OnClick="AddNew"></Button>
    <Popover Visible="EditorVisible" Placement="PlacementType.Bottom" ContentTemplate="@ConfigEditor">
        <Button Icon="edit" OnClick="()=> EditorVisible = !EditorVisible"></Button>
    </Popover>

</Col>


@code
{

    private RenderFragment ConfigEditor =>
        @<StepConfigEditor Index="@Index"/>;

    [Inject]
    private IState<State> State { get; set; } = null!;

    [Inject]
    public IDispatcher Dispatcher { get; set; } = null!;

    [Parameter]
    public int Index { get; set; }

    public string Word => State.Value.WordList.Words[Index];

    private void WordChanged(string w)
    {
        if (w != Word)
            Dispatcher.Dispatch(new SetWordAction(Index, w ?? ""));
    }

    public void AddNew()
    {
        var i = State.Value.WordList.Words.Count;
        var word = Defaults.GetWord(i);
        var config = Defaults.GetStepConfig(i);
        Dispatcher.Dispatch(new AddAction(word, Index + 1, config));
    }

    public void Close()
    {
        Dispatcher.Dispatch(new RemoveWordAction(Index));
    }

    private bool EditorVisible { get; set; } = false;

    //public void Jump()
    //{
    //    Dispatcher.Dispatch(new JumpToAction(Index));
    //}

}